@using WebApp.RazorPages.Pages.Components

@{
    bool isRoot = Context.Request.Path.Value!.Equals("/");

}

<header>
    <div class="container">
        <a asp-page="/index"><img src="../images/silicon_logo1_light.svg" alt="Silicon logo"></a>

        <div class="menu">
            <nav>
                <a asp-page="@(isRoot ? "#overview" : "/index")">Overview</a>
                <a asp-page="@(isRoot ? "#features" : "/index")">Features</a>
                <a asp-page="/contact">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>

        <div class="account-buttons">
            <partial name="~/Pages/Components/_Button.cshtml" model='new ButtonViewModel{ClassName = "btn-gray", Link = "../Auth/signin", Icon = "fa-solid fa-right-to-bracket", Text = "Sign In"}' />
            <partial name="~/Pages/Components/_Button.cshtml" model='new ButtonViewModel{ClassName = "btn-theme", Link = "../Auth/signup", Icon = "fa-regular fa-user", Text = "Sign Up"}' />
            <partial name="~/Pages/Components/_Button.cshtml" model='new ButtonViewModel{ClassName = "btn-gray", Link = "../Account/details", Icon = "fa-solid fa-right-to-bracket", Text = "TEMP"}' />

        </div>
    </div>
</header>